#menu-bar{
  background-color:black;
}
body{
  background-image: "../images/background.jpg"
}
#ms{
  color:whitesmoke;
  padding:10px;
}
#home{
  color:whitesmoke;
  padding:10px;
}

#savedArticles{
  color:whitesmoke;
  padding:10px;
}

#btn-holder{
  padding:10px;
}

#nyt-title{
  text-align: center; 
  color:white; 
  font-family: 'Times New Roman';
}
#page-name{
  text-align:center; 
  color:white;
  font-family: 'Times New Roman';
}